@import "tailwindcss";
@plugin "daisyui" {
	themes: bumblebee --default, dim;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Myanmar Moe";
	src: url("/fonts/u_moe.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	margin: 0;
	height: 100%;
	/* Disable double-tap to zoom */
	touch-action: manipulation;
	/* Prevent "rubber-banding" and pull-to-refresh on mobile */
	overscroll-behavior: none;
	/* Standardize text size on rotate */
	-webkit-text-size-adjust: 100%;
}

body {
	padding: env(safe-area-inset-top) env(safe-area-inset-right)
		env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* Hide scrollbars */
::-webkit-scrollbar {
	display: none;
}

/* Prevent long-press popups and text selection globally */
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Re-enable user-select on input and textarea */
input,
textarea {
	-webkit-user-select: text;
	user-select: text;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
